[2019-05-10 08:07] TJzju opened #15 "Compiling bug-FUEGO"
Error while trying to generate the LiDryer model for H2 combustion, according to the guide of FUEGO in "README.md"​. Without any changes of the git-cloning code.

## error reported:

 -- could not import the C++ bindings for journal
 -- control of diagnostics from extension modules is unavailable
Traceback (most recent call last):
    from journal import _journal as journalmodule
ImportError: cann

[2019-05-10 16:24] hsitaram commented on #15
Hi Tjzju,

Did you source the setup.sh script?
If not, do "source ${PELE_PHYSICS_HOME}/Support/Fuego/Pythia/setup.sh" and
then try running the script to generate the LiDryer chemistry file.

Thanks,
Hari

On Fri, May 10, 2019 at 2:07 AM TJzju <notifications@github.com> wrote:

[2019-05-10 23:45] TJzju commented on #15
Hi Hari,

Many thanks for your quick reply. I do source the setup.sh file.  We have tried in two different computers, with the same reporting error. Would that be the problem from the setup.sh file, or from the original code?
Thanks.

TJzju

[2019-05-10 23:55] drummerdoc commented on #15
Is PELE_PHYSICS_HOME defined correctly?  The problem looks to be that the python functions are unable to find all the dependent code, and the code in the setup.sh or setup.csh files is intended to make the paths to those .py functions available to python.

A slightly different way to ask: if you are using bash, did you do ". ${PELE_PHYSICS_HOME}/Support/Fuego/Pythia/setup.sh"?  If you are using a

[2019-05-11 00:11] TJzju commented on #15
Hi Marc,
Yes, the PELE_PHYSICS_HOME is correctly defined. Bash is used.
Actually I have run the PeleLM case of FlameInABox, it works well. This suggests that the setup of $PATH should be fine. I just want to generate a new mechanism with FUEGO. And then I try to run the case of LiDryer. I got the error.

[2019-05-11 00:58] drummerdoc commented on #15
So, after you do ". ${PELE_PHYSICS_HOME}/Support/Fuego/Pythia/setup.sh", and do "echo $PYTHONPATH" you have a path which includes the folder "${PELE_PHYSICS_HOME}/Support/Fuego/Pythia/Pythia-0.4/packages/journal"?  The definition of that variable and the dynamic library in "${PELE_PHYSICS_HOME}/Support/Fuego/Pythia/Pythia-0.4/lib"  needs to persist in your shell and be available when you run the p

[2019-05-22 20:36] jrood-nrel opened #18 "Variable uninitialized in heptane_3sp.cpp"
`Corr` is uninitialized here it seems:
https://github.com/AMReX-Combustion/PelePhysics/blob/209331b09a60f4a29ee5f3c324f4de65a6c18c12/Support/Fuego/Mechanism/Models/heptane_3sp/heptane_3sp.cpp#L2224

Maybe this translates to other models as well.

[2019-05-22 20:40] jrood-nrel opened #19 "Always true if condition in heptane_3sp.cpp"
https://github.com/AMReX-Combustion/PelePhysics/blob/209331b09a60f4a29ee5f3c324f4de65a6c18c12/Support/Fuego/Mechanism/Models/heptane_3sp/heptane_3sp.cpp#L441
Might translate to other models as well.

[2019-05-22 20:44] jrood-nrel opened #20 "Unicode characters in files"
There are unicode characters in `PelePhysics/Support/Fuego/Mechanism/Models/alzeta/alzeta.cpp`, `PelePhysics/Support/Fuego/Mechanism/Models/LiDryer/LiDryer.cpp`, and `PelePhysics/Support/Fuego/Mechanism/Models/Kolla/Kolla.cpp`

[2019-05-31 19:58] drummerdoc commented on #20
I believe you, but can you send the output of whatever it was that identified the issue.  I have some ideas how to find and fix those things, but I have no clue how to confirm that all is well. (sorry for delayed response, BTW, all my GitHub mail is going to spam for some reason).

[2019-05-31 19:59] jrood-nrel commented on #20
I think this was solved with the recent bigmech PR because it appears the references with the unicode quotations are there any longer. I will verify and close this if they are gone now.

[2019-06-05 14:54] jrood-nrel commented on #20
So the latest PelePhysics has removed some of the unicode characters I was seeing before in LiDryer. There are still 2 I can see. One in Kolla and one in alzeta. They are usually unicode quotes it seems (alzeta is too big to link to line 132855). Probably needs to be removed from the Fuego pickler or cantera files it puts in the comments or whatever:
https://github.com/AMReX-Combustion/PelePhysics

[2019-06-05 15:00] jrood-nrel commented on #18
This happens in a few other models I see as well. For example:
https://github.com/AMReX-Combustion/PelePhysics/blob/53c97ba8704973065290b4455bd0617e4442001d/Support/Fuego/Mechanism/Models/air/air.cpp#L2185

[2019-06-05 16:12] drummerdoc commented on #20
I don't know how to reliably identify these things, and so can't confirm that I can fix them.  You apparently do.  Can you remove the offending characters and push the cleaned versions?

[2019-06-05 16:14] drummerdoc commented on #18
Lower priority, but yeah should be trivial to modify the Python to not do that.

[2019-06-06 18:14] drummerdoc opened #23 "Add FORD keyword handling in Fuego for analytic and approx Jacobian"
A recent fix will (just did) add the native handling of the FORD keyword in order to properly deal with non-integer explicitly set reaction orders (such as what is used in the CH4 2-step mech).  This mod is not yet pulled through the code that generates Jacobians though.

In fact, there is generalized ability in place that for specific mechanisms, auxiliary files can be used to implement specific

[2019-09-05 17:39] jrood-nrel opened #37 "Non-Fuego react calls need to have Init removed"
@EnnaDelfen It looks like only the `Fuego` `actual_reactor.F90` was updated to remove the `Init` parameter. I think this needs to happen for the `Null` cases.

In the meantime, I'm trying to understand why Travis CI and my test suite is working without these changes, but the GNU make TG or HIT cases for example don't build due to this. I think it might have to do with some ifdefs or something.

[2019-09-05 19:08] jrood-nrel commented on #37
It looks like the GNU make makefiles were screwed up in PeleC that allowed the `react` call to get compiled in when it wasn't necessary. I am making a pull request to fix that, but the `react` routines in `Null` and `Null_air` should still be updated to be consistent.

[2019-09-05 19:11] EnnaDelfen commented on #37
Yes you're right, I did not update those folders... I'm on it !

[2019-09-05 19:16] jrood-nrel commented on #37
Thanks! No stress. It exposed an issue in PeleC that needed to be fixed.

[2019-09-06 15:09] jrood-nrel commented on #37
Fixed in https://github.com/AMReX-Combustion/PelePhysics/commit/9e4b85cdaff8f058f02971a44b217116c6d0f2e5

[2019-09-06 15:09] #37 closed

[2019-09-25 19:56] drummerdoc commented on #19
Fixed in cbc738b

[2019-09-25 19:56] #19 closed

[2019-09-25 19:57] drummerdoc commented on #15
No word on this for a while, and the scripts appear to work for me.  closing.

[2019-09-25 19:57] #15 closed

[2019-09-25 20:06] ldowen opened #39 "Naming convention in mechanism.h"
Looking at the indices in the generated mechanism.h files, it looks like a few issues might arise. One issue could be when the species have names like "CH2(S)" so the define will have parentheses in it. Another issue arises when the names have a minus (or possibly a plus) like "A4-". In the Aromatic_KrNara directory, the mechanism.h file shows a define statement of A4_ID 117 followed by an A4_ID 1

[2019-10-04 21:13] AnneFelden commented on #39
Hi Landon

Yes you are correct. As of today I have enabled Fuego to recognize a few such characters. Namely (, ), * and -. The parenthesis are simply discarded, the - too and the * is replaced with a D. Note however that only the * gave me an error on the mechanism you mention. If you notice any other characters raising an error, let me know. Thanks

[2019-10-05 13:16] awehrfritz commented on #39
Hi everyone,
I also noticed this issue in the mechanism.h files. In the current code, all dash/minus characters are simply removed which will lead to issues for ionic species in some mechanisms, see e.g.:
https://github.com/AMReX-Combustion/PelePhysics/blob/88b88e4afd6efdca6c932171938437c68f53a779/Support/Fuego/Mechanism/Models/Aromatic_KrNara/mechanism.h#L127-L128
There are actually more characte

[2019-10-08 00:14] whitmanscu opened #41 "PelePhysics does not allow non-integer stoichiometric coefficients"
The title pretty much sums up the issue. I would like to use mechanisms that include non-integer coefficients, however coefficients are hard-coded as integers throughout. This is true in both the pickling/unpickling in conversion from Chemkin as well as the routines in PelePhysics and PeleC (and I assume PeleLM) that use the coefficients.

-Sam

[2019-10-12 00:04] drummerdoc commented on #18
Actually, to do this cleanly, we'd probably want to remove all arrays dimensioned with 0-length, and loops that won't be traversed...one can go nuts making it all pretty, but it seems like really wasted effort.  I've going to close this PR and if the issues generate real issues, we can push specific changes needed to address them.

[2019-10-12 00:04] #18 closed

[2019-10-12 00:11] drummerdoc commented on #39
@EnnaDelfen Can you resolve these two issues and close them out?

[2019-10-12 02:39] EnnaDelfen commented on #39
No problem. Unless I hear otherwise I'll replace -/+ by n/p for neg and pos.
Also bear in mind that as of today, it is not a real "problem" if several (or even all) species share symbols. These defs in the mechanism.h are here to help a somewhat experienced user find the indice of a species of use to him !

[2019-10-12 02:45] drummerdoc commented on #39
It's harmless, but it makes annoying build warnings :(

[2019-10-14 15:40] #39 closed

[2019-10-15 19:12] EnnaDelfen commented on #41
Hi, can you give the new version of PP dev a try on the mechanism you saw issues before and report bugs ? Thanks !

[2019-10-15 21:54] whitmanscu commented on #41
Thanks! The conversion runs without any errors. It does look like the .cpp file generated has all nu (coefficient) values typed as integers still even though they are being set to floats in some cases, so they'll probably be implicitly converted at run-time I would think.

[2019-10-15 22:03] EnnaDelfen commented on #41
Could you share your mechanism with me ?

[2019-10-15 22:09] whitmanscu commented on #41
Here's the (very simple) propane mechanism. Thermo is taken from grimech.

ELEMENTS
C O H N
END
SPECIES
C3H8 O2 H2O N2 CO CO2
END
TRANS ALL
C3H8               2   266.800     4.982     0.000     0.000     1.000
O2                 1   107.400     3.458     0.000     1.600     3.800
H2O                2   572.400     2.605     1.844     0.000     4.000
N2                 1    97.530     3.621     0.

[2019-10-15 22:23] EnnaDelfen commented on #41
Ok so if you are referring to the "nuv" in CKINIT, yes you will be fine. What I was afraid of is that your mech has specified orders that replace the stoich coeffs (the FORD).... and I can't remember if in dev it'll work :(. If you have a case you can check your results on, that would be very useful, so you can report if you see big discrepancies.

[2019-10-16 03:44] whitmanscu commented on #41
I do get an error for type conversion upon attempted compilation:

error: narrowing conversion of '-3.5e+0' from 'double' to 'int' inside { } [-Wnarrowing]
     nuv[0] = {-1,-3.5,3.0,4.0};

[2019-10-16 18:33] EnnaDelfen commented on #41
Should work fine now. Note that I am now sure the FORD reacs are not correctly interpreted in Fuego, I'll implement the changes asap.

[2019-10-16 19:50] whitmanscu commented on #41
Thanks! Was the FORD issue always there? If so, any details would be appreciated.

[2019-10-16 20:32] EnnaDelfen commented on #41
Yes it has always been an issue in Fuego. Basically, those FORD instructions in CHEMKIN format modify the rates of progress of reactions by adapting the orders of each species (you can read page 27 of this manual https://pdfs.semanticscholar.org/fa1e/a61f7bec2645d7aeb914e05912be5056f695.pdf ). Right now those modifications are just ignored with Fuego. So you will end up with a working mechanism, b

[2019-10-16 22:32] whitmanscu commented on #41
Ok, thanks! Let me know when the FORD changes are implemented and I'll give the whole thing a test.

[2019-10-17 01:54] EnnaDelfen commented on #41
Should be good now

[2019-10-23 20:16] whitmanscu commented on #41
Thanks! Managed to do some testing and looks like it's performing appropriately. I'm closing this ticket - I appreciate the quick fix.

[2019-10-23 20:16] #41 closed

[2019-10-29 17:11] whitmanscu commented on #23
A recent fix (Issue #41) added some FORD keyword handling to the CPickler for Fuego, but it appears to remain incompletely implemented. The most immediate issue I see is that only the GPU version of comp_qfqr was modified to use the FORD orders while the CPU code still needs the same change.

I'm commenting on this issue because I'd like FORD rates to be fully implemented and it's not immediately

[2019-10-31 00:37] whitmanscu commented on #41
Hello, I'm wondering if I closed this issue too soon. I'm trying to run the chemistry model I posted earlier with FORD rates and getting segfaults and nan values in some cases shortly after starting reactions. I was looking at issue #23 and wondering if there were further changes that need to be made in order to fully utilize FORD rates. Is this something you can comment on? Thanks!

[2019-10-31 21:29] whitmanscu commented on #23
It looks to me like the code needs to be fixed for aJacobian_precond, aJacobian, and vcomp_wdot, in addition to the comp_qfqr CPU method I mentioned above. Am I missing anything? I tried making modifications in these places but I'm still getting crashes when I try and run a 2-step propane mechanism with FORD rates (I posted the chemistry file to the other issue).

[2019-11-08 23:56] EnnaDelfen commented on #41
To answer this I need for you to be more precise. I need to know which case/code you are running and which integrator you are using. The jac stuff should not be a problem if you are not using it (as I thought was the case). You were correct that the comp_qf_qr stuff was not good on CPU, my mistake, but this has been rectified in dev now. But even without these modifs, you should not be getting seg

[2019-11-09 03:53] whitmanscu commented on #41
Yes, I realized that none of the analytical Jacobian routines are actually used, so that should be fine for now. I'm using PeleC with dvode and trying to ignite premixed propane/air inflow behind a bluff body, using an external source or isothermal bluff body boundaries to start ignition. It appears to run fine without AMR but with multiple AMR levels I'm seeing segfaults. Backtraces suggest the e

[2019-12-17 21:20] ldowen opened #51 "Temperature values not returned"
https://github.com/AMReX-Combustion/PelePhysics/blob/0be85215a9946a129c0e57646174dc751d0e5934/Eos/Fuego/Fuego_EOS.H#L18

In the `eos_EY2T` and `eos_HY2T` functions, I assume they are supposed to be provided the internal energy or enthalpy and the mass fractions and return the temperature. However, the temperature that is passed in is not a reference or pointer. So a new temperature is instantiated

[2019-12-17 23:43] drummerdoc commented on #51
ewe, ick!   Yeah, no idea why those are refs instead of copies.  Anne?

[2019-12-17 23:44] EnnaDelfen commented on #51
I'm afraid I don't understand what the issue is

[2019-12-17 23:45] EnnaDelfen commented on #51
If it's easy to fix go ahead though ! Especially if it's causing an error

[2019-12-17 23:45] drummerdoc commented on #51
The routines he points to are supposed to be returning T, but T is passed by value so nothing done to T in those functions have any effects on the T of the calling routine.  I'm worried about where else this might happen

[2019-12-17 23:49] ldowen commented on #51
For the Fuego_EOS, it looks like it is only an issue for `eos_EY2T` and `eos_HY2T` I can change that file and make pull request. I think passing it by reference makes more sense than passing it by pointer (like what is done with the `eos_TY2Cp`). Unless there is some GPU reason that it has to be done that way.

[2019-12-17 23:51] EnnaDelfen commented on #51
No the only reason for this is my uncompetence. I'll modify this here, but Marc it might indeed be that other such issues are spread out throughout the code ...

[2019-12-17 23:52] drummerdoc commented on #51
There's a bunch of things done like that, it looks like, in the sense that scalar whose return value was needed as passed as a pointer (actually as an array of length 1).  Probably should clean all those up...
I'll fix these right now.  Landon, you're working in the `development` branch?

[2019-12-17 23:53] ldowen commented on #51
Correct. I am working in the development branch.

[2019-12-17 23:55] EnnaDelfen commented on #51
wait, who's on this then ?

[2019-12-17 23:56] drummerdoc commented on #51
me.

[2019-12-17 23:56] EnnaDelfen commented on #51
cool

[2019-12-18 00:30] drummerdoc commented on #51
Landon, can you pull and check that the fixes make sense?

[2019-12-18 00:51] ldowen commented on #51
That is exactly what I was thinking but I think there is a slight problem. I think you need to keep the namespace `void EOS::eos_` in the .cpp file when defining the functions.

[2019-12-18 00:52] drummerdoc commented on #51
Dang...hold

[2019-12-18 00:55] drummerdoc commented on #51
Try again...
sorry about that

[2019-12-18 00:55] ldowen commented on #51
Perfect! Thanks!

[2019-12-18 00:56] #51 closed

[2020-02-24 22:59] #20 closed

[2020-04-28 18:22] mrieth1 opened #62 "#include "IndexDefines.H" in Constant/Simple transport models"
There are #include "IndexDefines.H" statements in Transport.H of the Constant and Simple transport models in the current development branch (503aa16). IndexDefines.H is not provided by PeleLM.

[2020-04-28 22:27] EnnaDelfen commented on #62
Yes, indeed. Right now, PLM is not made to work with the current cpp implementations of the transport. Those are specifically tailored for PLC. Bottom line is you should not try to use them in PLM right now unless Marc has decided that it is time to start thinking about it, and then we can discuss of how to make it happen !

[2020-04-28 23:21] ldowen commented on #62
Can we make the indices inputs into the function call? I think that's how it was before.

[2020-04-28 23:42] drummerdoc commented on #62
I was just confirming with Anne that there is no reason not to restore this to its original form, where each component is passed separately, thereby obviating the need for state index information. This will require simultaneous mods to PelePhysics and PeleC, and might as well be done in a way that is compatible with how PeleLM calls it now.  We'll leave this tag open until that is done, but need t

[2020-04-30 00:03] EnnaDelfen commented on #62
I've just created a new branch labelled 'feature_TransportCppUnif' where I attempted to revert the cpp transport versions to a more generic format. It is consistent with what is done in the F90, where we explicitly provide arrays containing Y/rho/T/D/MU etc. instead of just one array containing everything. We should not need the IndexDefines.H anymore. However, we need to clear this with whoever i

[2020-05-08 21:07] EnnaDelfen commented on #62
@drummerdoc and @mrieth1 can you tell me if you've had time to look into this feature_TransportCppUnif branch ? If not could you give me some feedback within the month ?
Thanks !

[2020-05-08 21:23] drummerdoc commented on #62
Comments added to the branch commits...wasn't sure otherwise where I should put them.

Important, there is an assumption of p=1atm -- wrong!

[2020-06-25 06:49] esclapez opened #80 "Transport model "Sutherland" is only available through the fortran interface. The C++ is needed for Pele application moving to GPU."

[2020-06-26 18:38] awehrfritz opened #82 "Set SUNDIALS version"
The ThirdParty makefile currently pulls the latest revision in the SUNDIALS master branch: https://github.com/AMReX-Combustion/PelePhysics/blob/ccf3fe304bae2fee6f18fbc8b0607f4eca92e2a2/ThirdParty/GNUmakefile#L107

This kind of makes it difficult to maintain the same version upon rebuilding the third-party libraries. Since sundials tags their releases in git, this could be simply fixed by adding:
[

[2020-06-26 18:40] awehrfritz commented on #82
Oh, and forgot to mention: The documentation seems to be out of date on this matter as well: https://pelephysics.readthedocs.io/en/latest/GettingStarted.html#install-cvode-and-suitesparse

[2020-06-26 18:47] drummerdoc commented on #82
Yes on both accounts.  I was trying to think of a way to pass the versions IDs through and manage a default, but I like your solution better.

Yeah, need to fix the doc...this TPL thing is still experimental though...it just barely hangs together at the moment.

[2020-10-29 20:51] jrood-nrel opened #121 "Suppressing output in SUNDIALS from non I/O MPI ranks"
I was starting to implement this discussion https://github.com/LLNL/sundials/issues/51 in PeleC, but quickly realized all the SUNDIALS code is here. Would it be possible to do what I suggest in that issue? We are getting 10s of GBs of text output on some not very large scale runs when SUNDIALS encounters problems it would like us to know about.

[2021-01-28 00:40] bssoriano opened #137 "Implement NASA9 polynomials"
The implementation of the NASA9 polynomials allows to evaluate the thermodynamic properties for temperatures up to 20,000 K for certain chemical species. Here is a quick reference to the equations: [https://cantera.org/science/science-species.html](url)

[2021-03-14 02:12] marient opened #147 "ndodecane_35 chemical mechanism missing - need the GPU implementation"
The mechanism was not initially included in PelePhyics even though it was used for a PeleLM demonstration. Now that demonstration needs to be repeated on GPUs on summit. I have the mechanism and transport input files.

[2021-03-14 02:17] drummerdoc commented on #147
Marco, make a PR to add to the chem.inp, tran.dat and thermo.dat files so that we have them and can run the Fuego scripts.  Be sure that we haven't already done this (check the  dodecane_lu folder to see of the input files you are using are already there).

[2021-03-14 06:39] marient commented on #147
Done, thanks.

[2021-05-11 16:09] marchdf opened #155 "Missing 1D array react for CVODE on GPU"
Hi Lucas, it looks like PR #151 removed 1D flattened array from CVODE on GPU. I am talking about this:

[code]
from [here](https://github.com/AMReX-Combustion/PelePhysics/commit/ad80536aa16bf688aa319aa519435d8eab859ec5#diff-99c88b509702a8bfb9d[…]a7811cb184db39be84ad28L76).

Is there a reason for that? I am asking because several other codes rely on this functionality. Would it be possible to bring

[2021-05-11 17:43] esclapez commented on #155
Hi Marc, I can, it should be pretty straightforward to put that back on. But is there any reason not to switch to the version taking Array4 as function arguments ? It is more efficient.

[2021-05-11 17:47] jrood-nrel commented on #155
I think more codes than just PeleC/LM are using that call which is the issue.

[2021-05-11 17:48] hsitaram commented on #155
It might be useful to have that version for some unstructured cases. For e.g. with MarcH's particle-based solver. One of my colleagues had coupled PP with openfoam and was using the flattened-array version on CPU of course. But looks like it is missing in CPU also

[2021-05-11 17:49] esclapez commented on #155
Okay, I'll put that back in, but I no longer have a working test case for this functionality, so I'll probably ping one of you when the PR is ready.

[2021-06-14 18:12] whitmanscu opened #162 "Fuego w/ FORD rates generating incorrect prefactor conversion term"
With the Fuego-generated mechanisms for kinetics with FORD rates, species production/consumption rates appear unphysically low. I believe this is due to the generated rates in comp_qfqr, where the prefactor conversion appears to not be properly implemented for FORD rates. There is conversion that happens between cgs and mks before productionRate is called, and the prefactor term seems to be intend

[2021-06-14 18:19] EnnaDelfen commented on #162
Sounds like this is what is going on, and the fix proposed would solve the issue

[2021-06-14 18:20] drummerdoc commented on #162
@EnnaDelfen Is there any additional code that would impact the analytic Jacobian that would also need fixing?

[2021-06-14 18:20] EnnaDelfen commented on #162
I'm looking through it because he's specifically taking about productionRate_GPU I'm looking through to see if other functions are concerned

[2021-06-14 19:39] EnnaDelfen commented on #162
Yeah so I'm thinking there are a bunch of other places where the suggested modifications need to be implemented. It's tricky to catch them all without a mechanism/test case to test the implementations. Basically wherever a dim needs to be computed or a call to _QSSsortedPhaseSpace is needed, FORD need to be taken into account. I think no one has actually ued a FORD reaction scheme in where AJ or o

[2021-06-14 21:24] drummerdoc commented on #162
@whitmanscu Can you work with me to create a test case that we can use to help debug the fixes?  For this, I'm guessing that we can modify PelePhysics/Testing/Exec/ReactEval_C to integrate one of the FORD-containing models using both implicit and explicit integrators and that would uncover most of the implementation issues.  Which model where you using, and what could we set for a set of initial c

[2021-06-14 22:40] whitmanscu commented on #162
@drummerdoc Happy to. I'm using a 2-step global propane model from Ghani et al. (2015). I can push that model to a testing branch, or we could use something already there like the CH4 2-step model. I'm not as familiar with the expected evolution of the ReactEval_C case, but it looks like a variant of an ignition delay problem. At atmospheric pressure and phi=0.65, the adiabatic propane flame tempe

[2021-06-15 19:05] whitmanscu commented on #162
I added the C3H8 model and modified the CPickler.py comp_qfqr generation as suggested. The prefactor does appear to generate correctly for comp_qfqr after this change:
https://github.com/whitmanscu/PelePhysics/tree/whitmans/FORD_prefactor_fix

Regarding ReactEval_C, I'm not set up to run on GPUs at the moment, and it looks like the more complex routine testing for things like cvode w/ analytical j

[2021-07-21 12:52] Toby-Yang opened #173 "ERROR- generate new hydrogen mechanism from files in the CHEMKIN-II format"
I want to generate a chemistry mechanism from files in the CHEMKIN-II format. The details of the error:
` File ".../PeleC/Submodules/PelePhysics/Support/Fuego/Pythia/pythia-0.4/packages/fuego/fuego/serialization/c/CPickler.py", line 2121, in <lambda>
    for symbol, coefficient in sorted(reagents,key=lambda x:mechanism.species(x[0]).id):
AttributeError: 'NoneType' object has no attribute 'id'`
How

[2021-07-21 13:01] Toby-Yang commented on #173
To download the mechanism files in the CHEMKIN-II format:  https://ars.els-cdn.com/content/image/1-s2.0-S0010218019300501-mmc2.zip

[2021-07-21 15:15] drummerdoc commented on #173
I'll take a look at it.  Thanks for reporting it.

[2021-07-21 15:38] drummerdoc commented on #173
It doesn't like the reaction "OHX=OH+hv".  In this format, all species on the left or right have to be in the species list.  I understand what you're trying to do, but FUEGO sees it as non-standard.  Can you handle that another way?

[2021-07-21 16:16] Toby-Yang commented on #173
Thanks for you advice. I delete that reaction and the bug is removed.

[2021-07-21 17:27] drummerdoc commented on #173
But, were you counting on that energy loss due to radiation?  If so, we'll have to think a bit about how else to replicate that process in your setup.  But, glad that part's fixed.

[2021-07-21 18:00] ll-yang commented on #173
Radiation is not important for my case. So the removal of that reaction only cut off one of  paths that  transform OHX into  OH . I think the total energy is still conserved even if I delete more reactions

[2021-07-21 18:00] ll-yang commented on #173
Radiation is not important for my case. So the removal of that reaction only cut off one of  paths that  transform OHX into  OH . I think the total energy is still conserved even if I delete more reactions

[2021-07-21 18:02] Toby-Yang commented on #173
Radiation is not important for my case. So the removal of that reaction only cut off one of  paths that  transform OHX into  OH . I think the total energy is still conserved even if I delete more reactions

[2021-07-22 01:48] #173 closed, assigned to nobody

[2021-08-04 17:04] RSuryaNarayan opened #185 "Missing '+' sign in LuDME"
I tried compiling the LuDME mechanism and found there's '+' sign missing at L20441 in ```mechanism.H```
[code]
attaching the raw file preview for reference:
![image](https://user-images.githubusercontent.com/52670594/128223733-89d6b32f-a49d-4a6e-b912-0a006b6e2428.png)

[2021-08-04 17:46] jrood-nrel commented on #185
@esclapez This is in the jacobian.

[2021-08-04 18:29] esclapez commented on #185
Looking into it. I'll open a PR when it's fixed.

[2021-08-04 19:09] esclapez commented on #185
Hi Surya. Can you try out this [branch](https://github.com/AMReX-Combustion/PelePhysics/tree/fix_aJacIssue). It should fix that issue. I'll open a PR when you confirm that it works in your case.
Thanks !

[2021-08-05 04:43] RSuryaNarayan commented on #185
@esclapez it works now. Thanks a lot

[2021-08-05 05:52] esclapez commented on #185
This issue has been resolved in #186.

[2021-08-05 05:52] #185 closed, assigned to nobody

[2021-09-23 02:31] #155 closed, assigned to esclapez

[2021-09-23 02:31] marchdf commented on #80
This has been implemented

[2021-09-23 02:31] #80 closed, assigned to nobody

[2021-09-23 02:32] marchdf commented on #62
I think all is fixed here. Please reopen if necessary.

[2021-09-23 02:32] #62 closed, assigned to EnnaDelfen

[2021-09-23 02:34] marchdf commented on #147
Looks like this was done. Closing. Please reopen if not.

[2021-09-23 02:34] #147 closed, assigned to nobody

[2021-09-23 02:35] marchdf commented on #82
@jrood-nrel I think we are doing this now right? If so, can we close?

[2021-09-23 19:23] #82 closed, assigned to nobody

[2021-09-30 21:19] esclapez opened #204 "CPickler TODOs"
- [ ] Use `const` in sparsity functions (and other relevant places)
- [ ] consider formatting output code with `clang-format`

[2022-04-14 13:52] RSuryaNarayan opened #248 "CPickler error while trying to generate mechanism files from CHEMKIN"
Hello,

I am trying to parse a high-pressure DME mechanism [here](https://ars.els-cdn.com/content/image/1-s2.0-S0010218018302396-mmc2.zip) into Pele and run into this error after doing ```./make_mechanism.sh```.
[code]
The mechanism seems to have a ```#4``` in one of its species which I deleted to get the species read in properly.  Then, I run into this error. Using the latest PelePhysics version.

[2022-04-14 14:17] drummerdoc commented on #248
@RSuryaNarayan can you post the mechanism files you tried to use?

@malihass @jrood-nrel Can you look into recent changes that might lead to this?

[2022-04-14 14:22] RSuryaNarayan commented on #248
@drummerdoc the original files in the paper can be downloaded [here](https://ars.els-cdn.com/content/image/1-s2.0-S0010218018302396-mmc2.zip). Additionally, the modified files (due to the species error) are attached.
[HP_DME.zip](https://github.com/AMReX-Combustion/PelePhysics/files/8489893/HP_DME.zip)

Thank you for your quick response.

[2022-04-14 14:27] marchdf commented on #248
Quick question @RSuryaNarayan: did this used to work? Trying to figure out if this is a problem that always existed or recently happened. We don't touch cpickler very often. The last meaningful commit to cpickler was Sept 2021.

[2022-04-14 14:31] marchdf commented on #248
Also, it looks like it is throwing an error in `CPickler.py", line 716, in _analyzeThermodynamics` but line 716 in the current version of [Cpickler does not have anything on it](https://github.com/AMReX-Combustion/PelePhysics/blob/development/Support/Fuego/Pythia/pythia-0.5/packages/fuego/fuego/serialization/c/CPickler.py#L716). Are you sure you have the right version? Or maybe you made modificati

[2022-04-14 14:50] RSuryaNarayan commented on #248
@marchdf I wanted to test the mechanism given in the supplementary material of this [paper](https://www.sciencedirect.com/science/article/pii/S0010218018302396) and I encounter this error after I extract the mechanism from it and parse it *as is* into PeleC using ```make_mechanism.sh```. Therefore, the error could either be in CPickler or possibly in the mechanism file.

I tried using cantera's [c

[2022-04-14 15:08] marchdf commented on #248
Great yeah that helps. So this is a new mechanism and it is failing in PelePhysics but seems like it should work because of cantera being ok. Since this is failing in `_analyzeThermodynamics`... I wonder if something is wrong in `therm.dat` ?

[2022-04-14 15:14] marchdf commented on #248
Seems like `H` is misssing thermo data:
[code]

For air, you would have gotten:
[code]

more digging...

[2022-04-14 15:23] drummerdoc commented on #248
Also, in the past I have found confusing behavior when the mech files come from Windows, with carriage return/line feed remnants.  Maybe it's just this simple?  I have a script to clean such things up, basically just runs ``tr -d '\015' `` on the file.  It's a long shot, but maybe useful?

[2022-04-14 15:31] marchdf commented on #248
I just checked all the whitespace in `therm.dat` on the same hunch... there was definitely a spurious tab here and there but it didn't fix it. I will try your thing too

[2022-04-14 15:32] RSuryaNarayan commented on #248
@marchdf yeah, my doubts were also on ```therm.dat```. I do find thermo data for ```H``` in the file
[code]
not entirely sure here tho if this is what you need!

[2022-04-14 15:35] marchdf commented on #248
Yeah I saw it in there as well which is why I thought maybe it was a whitespace parsing thing. @drummerdoc I ran `tr -d '\015' ` on it and it didn't fix it...

[2022-04-14 15:38] hsitaram commented on #248
Most often a therm.dat from another chemistry will work. Can you try using
the LuDME's therm.dat. Hopefully it has all the species in this mechanism
as well.

On Thu, Apr 14, 2022 at 9:35 AM Marc T. Henry de Frahan <
***@***.***> wrote:

[2022-04-14 16:10] RSuryaNarayan commented on #248
@hsitaram LuDME's therm.dat doesn't work either. This other mechanism seems to have many more species than LuDME's.

[2022-04-14 16:26] drummerdoc commented on #248
Near as I can tell, the therm dat appears to be empty for some reason.  I suspect that the qss mods have broken the management of thermo data. :(

[2022-04-14 16:29] RSuryaNarayan commented on #248
@drummerdoc so does it seem to be a "mechanism-specific" error?

[2022-04-14 17:11] marchdf commented on #248
@drummerdoc qss mods from Malik haven't been merged so I doubt that's the problem?

[2022-04-14 17:30] drummerdoc commented on #248
@marchdf My bad.  I was exploring with the use of the PelePhysics linked into the PeleC submodules.
@RSuryaNarayan Not sure yet...so many parallel fires at the moment, not making much progress on this yet.

[2022-04-14 18:22] marchdf commented on #248
For everyone on this issue, I created a PR (referenced above) that has all the files and modifications I've made so far. @drummerdoc might have additional ones and @malihass had some other ideas. Looks like there are duplicates in `therm.dat`. Let's make sure we use the same files so we aren't duplicating efforts. The branch is `add-hp-dme`.

[2022-04-14 21:00] hsitaram commented on #248
I did some digging. I used LuDME's mechanism.inp and HP_DME's therm.dat.
Fuego generation worked, with 2 changes

1) I had to remove O(SING) and O2(SING) species from therm.dat - not sure what is wrong with them
2) There were places where a number was written as 0.XXXe 02 which needs to be 0.XXXe+02, for example this one - 0.1781557e 02

May be along with the things you guys did, it could work.

T

[2022-04-14 21:07] marchdf commented on #248
@hsitaram thanks for looking at this as well. I fixed the missing `+` stuff in the PR. I also removed the O(SING) and O2(SING) from therm.dat but that didn't help.

[2022-04-14 21:20] hsitaram commented on #248
I am finding more things about this mechanism

1) not sure if we can handle PLOG reactions, I dont think we have it in any other mechanism
2) there are some places where troe reactions are written as TROE/ which errs with fuego, apparently it needs space or tab
like TROE        /x    x  x/

fixing these are harder than I thought :(

[2022-04-14 21:28] drummerdoc commented on #248
They are using an alternate form here which doesn't appear to be supported by FUEGO - there are a number of such forms (not supported).  Was talking offline to MarcHdF that we may want to consider adopting the Cantera mech reader and think of Fuego as a "backend" code generator.  That would allow us to remove a ton of obscure python stuff in the Pythia folder and dramatically simplify things.  Any

[2022-04-14 21:40] hsitaram commented on #248
For what its worth, I got it working after deleting

1) all reactions with O(SING) and O2(SING)
2) all reactions with PLOG
3) fixing TROE slash issue and deleting one TROE reaction

see tar file

[workingmech.tar.gz](https://github.com/AMReX-Combustion/PelePhysics/files/8492385/workingmech.tar.gz)

[2022-04-14 21:50] marchdf commented on #248
Well done @hsitaram ! I can get behind number 3. I have no idea what the impact of 1 and 2 are... Agreed with outsourcing the parsing to cantera.

[2022-04-14 21:54] hsitaram commented on #248
I will be ok if this working mechanism gave more or less the same ignition delay as the original one.

[2022-04-14 22:16] malihass commented on #248
I just realized that Hari beat me to it!
Here is a folder that automatically process the non working mechanism into a working mechanism. Maybe we can include this in the doc or in the code. Run `processMech.sh` then run `make-mechanism.sh`

[workingmech_malik.zip](https://github.com/AMReX-Combustion/PelePhysics/files/8492534/workingmech_malik.zip)

Crucially, the script_thermo that fix the redunda

[2022-04-14 22:43] marchdf commented on #248
Ok I think I found another solution. Check out my PR.
The fixes included:
- renaming `O*(SING)` -> `O*SING`, that way we don't lose those reactions, and then catching those in the Cpickler and using `O` weight
- I fixed the pickler so it ignores `PLOG` and throws a warning instead of erroring out. So we keep those reactions, just don't use PLOG
- There's a TROE line that was using commas, removed

[2022-04-15 06:20] RSuryaNarayan commented on #248
Thanks, @marchdf @hsitaram @malihass for the PR! I will switch to this branch and try this mechanism out. Would ignoring the PLOG make a big difference?
Thanks

[2022-04-15 13:59] marchdf commented on #248
@RSuryaNarayan I have no idea. We would have to read the paper and understand why they are there. Alternatively, follow @hsitaram's suggestion and test it out on ignition delay tests and see if it gives the same as the original mech.

[2022-04-15 15:20] malihass commented on #248
@RSuryaNarayan : If you want to see how to compute the ignition delay, you can check the branch `malihass/leanReactEval` and look at the folder `Testing/Exec/HRtest`

[2022-04-15 15:24] RSuryaNarayan commented on #248
Thanks @malihass @marchdf . Will check it out.

[2022-04-19 16:40] RSuryaNarayan commented on #248
Hello,

Thanks for merging the ```add-hp-dme``` branch into ```development```. However, I tried to compile the mechanism with PMF and run into the following errors:

1.```Make.package``` seems to be missing in the ```HP_DME``` folder
2. The compilation stops/gets stuck at ```AMReX_buildInfo.cpp```

I resolved (1) using ```Make.package``` in ```LuDME``` as the names of the files are the same and sh

[2022-04-19 18:35] jrood-nrel commented on #248
@RSuryaNarayan I fixed the `Make.package` issue. However, I was then able to build PeleC PMF with `HP_DME` without issue. I have a Mac in which I did `make COMP=llvm Chemistry_Model=HP_DME`.

[2022-04-19 20:36] RSuryaNarayan commented on #248
Thanks @jrood-nrel I installed a fresh version and shifted to development in pelephysics. Compiling with GNU doesnt move past the build info. Other mechs work.

[2022-04-19 21:10] jrood-nrel commented on #248
I can reproduce your behavior with GCC. However, this mechanism is a 7MB source file. Does it complete if you wait a long time for it?

[2022-04-20 04:04] RSuryaNarayan commented on #248
@jrood-nrel I also guess it's an issue with the rather large mechanism. I think it should if I wait long enough. Will let you know when it does! Thanks!

[2022-04-20 11:15] RSuryaNarayan commented on #248
@jrood-nrel it indeed compiles after a very long time! Closing this for now.

[2022-04-20 11:15] #248 closed, assigned to nobody

[2022-04-20 15:56] jrood-nrel commented on #248
Clang should compile this much faster for you.

[2022-05-10 10:13] czc-zju opened #271 "TypeError: list indices must be integers, not str"
To build a new CHEMKIN based model, the TRANFILE_APPEND.txt is generated and inserted into the chemistry input file,  but when I run the script file make-mechanism.sh, TypeError: list indices must be integers, not str.

[2022-05-10 14:40] marchdf commented on #271
We need more specifics... what is the chemkin file(s)? where is python reporting the error?

[2022-05-10 15:45] malihass commented on #271
Hi,
thanks for submitting these files.
It looks like this is an issue with R16: `H2O2(+H2O)<=>OH+OH(+H2O)`
When we compute the third body mixture, if `(+H2O)` was `(+M)` we would just compute the mixture value. Here, we need to read `sc[H2O.id]`. It seems that the `H2O.id` is not correctly obtained. I will submit a PR to fix this.
I tested it after the code fix and it seems to work. I encourage yo

[2022-05-10 16:03] czc-zju commented on #271
It does work, it's amazing!!!!!!!!
Thanks a million.
That's awesome
How do you know which reaction is causing the problem?

[2022-05-10 16:23] malihass commented on #271
No prob. Closing this then.

[2022-05-10 16:23] #271 closed, assigned to nobody

[2022-05-25 16:01] malihass opened #282 "Analytical Jacobian fail since CEPTR"
The solution given by Analytical Jacobian integration seems different than for finite difference Jacobian since the move to CEPTR

Attached is the Solution given for the same 0D case with `dodecane_lu`

![dodecane_beforeCEPTR](https://user-images.githubusercontent.com/5544573/170306427-0a71c422-c1f1-4de2-90c8-fcece41da607.png)

![dodecane_afterCEPTR](https://user-images.githubusercontent.com/55445

[2022-06-01 16:26] malihass commented on #282
#283 fixed `drm19` and `Lidryer`. Still debugging some lingering issues with `dodecane_lu`

[2022-06-02 17:07] malihass commented on #282
We found this was a compiler related issue. Clang 11 finds a false positive fpe in the analytical jacobian computation. After deactivating the `amrex_fpe_trap`, we found that the test passes. The problem does not occur with clang13.

We verified that the switch to CEPTR does not change the values of `wdot`, Jacobian, and preconditioning Jacobian, with `consP=1` and `consP=0`.

Here are the new tes

[2022-06-02 17:09] #282 closed, assigned to malihass, marchdf

[2022-06-02 17:19] drummerdoc commented on #282
That looks great!  It is possible to pick a spot where it's tricky (like 0.1s, say) and do a single-step solve at a pretty difficult dt and print out enough stuff to see if the Newton solve is converging quadratically?

[2022-06-02 18:37] esclapez commented on #204
@marchdf we can probably close that right ?

[2022-06-02 19:29] marchdf commented on #204
definitely the second check box. Not the first. But I think we can close this in general, knowing that @jrood-nrel  is slowly propagating the linting to pelephysics.

[2022-06-02 19:32] esclapez commented on #204
Okay, I'll close it !

[2022-06-02 19:32] #204 closed, assigned to nobody

[2022-06-02 19:35] esclapez opened #288 "Ensure C1 thermo. properties for species"
The deltaT solve in LM/LMeX can fail when the species thermodynamic is not C1, with residuals bouncing +/-. This can be the case around the low temperature to high temperature transition (often at 1000K).

[2022-06-02 19:37] marchdf commented on #288
With CEPTR, the mechanism gives a warning when it's not C1 (through cantera). So we have this check now. We could turn it into a failure I bet. Which mech are you using?

[2022-06-02 19:41] esclapez commented on #288
The LiDryer is one of the mechanism that has the issue. I was wondering if there isn't a way to fix that within CEPTR indeed.

[2022-06-02 19:58] marchdf commented on #288
hmmmm Cantera doesn't complain about discontinuities in LiDryer.

[2022-06-02 20:16] marchdf commented on #288
I was being stupid. Cantera warns us if it isn't C0. C1 is another story.

[2022-08-25 15:18] jAnirudh opened #318 "Unit mismatch for elementary reactions with arbitrary orders of reaction"
Hi,

I was looking at some mechanisms which have reactions with arbitrary reaction orders and found that the units of the pre-exponential coefficient in the Arrhenius rate reactions are not the same as those given by Cantera. I added a few print statements (after line 196 in `production.py`) to compare the units given by Cantera with those computed by PelePhysics, and ran a test for the 3 reaction

[2022-08-25 17:42] marchdf commented on #318
Hi, thanks for reporting this potential problem! I did not pay much attention to the arbitrary reaction orders and it is possible I missed something. What kind of issues were you seeing in trying to set up the test?

[2022-08-25 17:43] drummerdoc commented on #318
<Pardon the crossed responses from our team...>

Yeah, the full CHEMKIN spec is not supported by the code in PelePhysics that generates mech code.  Sorry about that.  Arbitrary forward and reverse reaction orders is one that isn't.  There are also some of the reaction rate forms (like Landau) that aren't yet supported either.  If nothing else, we should flag these as failures of the interpreter co

[2022-08-25 18:57] malihass commented on #318
Thanks for reporting the issue! I am not sure about the units issue but I can help out with the homogeneous reactor question.

In our testing suite, we do have an homogeneous reactor test case `PelePhysics/Testing/Exec/IgnitionDelay`. This runs 2 consecutive homogeneous reactor calculations to compute an ignition delay. The way to set it up in the `README.md` in that directory.

Maybe this would b

[2022-08-26 06:48] jAnirudh commented on #318
Hey @marchdf @drummerdoc  and @malihass thanks for getting back to me. I completely understand the complexity involved, so no worries!

@marchdf I tried to test the fix I mentioned, but was unable to get my homogeneous reactor case to work with the original `PelePhysics/Support/Mechanism/Models/chem-CH4-2step/mechanism.H` ([plots.pdf](https://github.com/AMReX-Combustion/PelePhysics/files/9430338/p

[2022-08-26 16:03] malihass commented on #318
Hmm this looks like a different problem now if the original code does not match Cantera. Can you tell me what the initial mixture is (mass fraction of species initially) and what is the initial pressure. Initial temperature seems to be 750K, is that right?

[2022-08-26 18:38] jAnirudh commented on #318
These are the initial conditions I used:
`mechanism.TPX = 750.0, 1.4*ct.one_atm, "O2: 0.20153, CH4: 0.040307, N2: 0.75816"`
which is equivalent to
`mechanism.set_equivalence_ratio(phi=.4, fuel="CH4", oxidizer="O2:21, N2:79")`
Also, `ndt=1000`

[2022-08-26 20:05] hsitaram commented on #318
can you try a constant volume reactor. I think pelephysics integration will not recover the constant pressure reactor from cantera. @malihass can correct me.

[2022-08-27 23:19] malihass commented on #318
I can reproduce the results (see below) that @jAnirudh sees which suggests that something is not handled right with `chem-CH4-2step`
![2step](https://user-images.githubusercontent.com/5544573/187051061-00426df2-b767-4e07-b223-00b7cb48a55f.png)

I regenerated the `.cti` files from the `.inp` file and used this with Cantera. So this is truly a difference between how Cantera and PelePhysics are handl

[2022-08-28 14:47] jAnirudh commented on #318
@malihass are these the reaction rates you've hard-coded? I pulled them out from the mechanism file from #162

[code]

I am able to get these same values from ceptr by replacing
`ctuc = cu.prefactor_units(cc.ureg("kmol/m**3"), 1 - dim)`  in line 196 of `PelePhysics/Support/ceptr/ceptr/production.py` with
`ctuc = cc.ureg(str(reaction.rate_coeff_units).split("at")[0][7:-2].replace("^", "**"))`

I al

[2022-08-28 15:25] malihass commented on #318
Yes those are the changes. I agree, something else might be off.
Once we are confident that we have the FORD stuff working we can regenerate all the other mechanisms and make sure nothing else changed before incorporating it in CEPTR.
Thanks for looking into this!

[2022-09-03 10:04] jAnirudh commented on #318
@malihass I am unable to reproduce the plot where you hard coded the reaction rates. Somehow I'm getting the same results as with the original mechanism. I'm not sure where I am going wrong. Could you please share the modified mechanism.H file you are using?

[2022-09-03 21:02] malihass commented on #318
@jAnirudh , in case you need it, in the `malihass/ford_issue` branch, the mechanism with hardcoded reaction rates is under `Support/Mechanism/Models/chem-CH4-2step_hardcode`

[2022-09-04 04:52] jAnirudh commented on #318
Thanks @malihass , I was struggling initially but then realized that I missed regenerating the mechanism through `genMesh.sh`. Once I did that I was able to replicate the results.

[2022-10-02 09:31] jAnirudh opened #323 "Unit mismatch for three-body reactions"
Hi,

I am not sure but I may have found a bug in the reaction rate coefficients units of three body reactions.

I was looking at the Li-Dryer Hydrogen combustion mechanism which has 4 three-body reactions and found that CEPTR adds an additional _meter ** 3 / kilomole_ factor to each three-body reaction when compared to Cantera.

I've made some basic [changes](https://github.com/AMReX-Combustion/Pe

[2022-10-05 23:09] malihass commented on #323
Thanks for reporting this,  I finally got the chance to dive into this.

So I looked at the results and I can see the mismatch in units as well. Fixing this requires to change `ctuc = cu.prefactor_units(cc.ureg("kmol/m**3"), - dim)` into `ctuc = cu.prefactor_units(cc.ureg("kmol/m**3"), 1 - dim)` for the case with third body and no falloff.  I suspect that you applied the change only to `comp_qfqr`

[2022-10-06 08:51] jAnirudh commented on #323
@malihass thanks for looking into this. You're right this is not a bug.

If I understand correctly, PelePhysics is essentially following Cantera's legacy behaviour for the 3 body reaction rate constants. If I wanted to use the conventional formulation and define `ctuc = cu.prefactor_units(cc.ureg("kmol/m**3"), 1 - dim)` then I'd have to multiply `qdot` by the concentration of the third body, which

[2022-10-06 08:51] #323 closed, assigned to nobody

[2022-10-19 03:20] olivecha opened #327 "Special case for single non-unity third-body efficiency"
Hi,

I stumbled upon some weird behaviour when using CEPTR to convert Cantera mechanism files to the format used in PeleLM.

So, for example  in `Support/ceptr/utilities.py`, if the reaction has only one efficiency the third body is added to the reactants and products :
[code]

This works well for reactions like reaction 35 in **grimech12** (H + O2 + H2O <=> HO2 + H2O) because H2O is added to the

[2022-10-20 15:10] marchdf commented on #327
Hi, thanks for bringing this to our attention. We will look into it but, in the mean time, would you mind creating a pull request with your branch? If it's the right fix, we can then easily merge it.

[2022-10-20 20:32] malihass commented on #327
Thanks for reporting this.
Could you please let me know for what precise case you saw a difference between Cantera and PelePhysics? Using your mechanism, I was not able to see much of a difference on a 0D reactor, but maybe I did not try a test that actually highlighted the problem.

[2022-10-21 02:23] olivecha commented on #327
Hi,

I compared a Cantera 1D FreeFlame with a PeleLM case based on the FlameSheet example, but with a narrower domain and no perturbations.

I used PMF data generated with the mechanism in Cantera.

The flame speed, temperature, heat release, and species concentration at equilibrium converged to different values.

For example the NO2 mass fraction versus temperature  for PeleLM, PeleLMeX and Cante

[2022-10-24 18:31] #327 closed, assigned to nobody